#close-controls-panel {
  margin-top: 1rem;
}

#overlay {
  opacity: 0;
  position: fixed;
  background-color: rgba(15, 15, 15, .5);
  color: white;

  /* Full width (cover the whole page) */
  padding: 2rem;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  @include for-phone-only {
    padding: .5rem;
    font-size: .8rem;
  }

  .controls-panel {

    justify-content: center;
    border-radius: 10px;

    .control-wrapper {
      label {


        span {
          display: block;
          margin-bottom: .5rem;
        }

        select.control {
          padding: .5rem;
          color: white;
          background-color: rgba($color: $base-violet, $alpha: .5);

          option {
            padding: .5rem;
            background-color: inherit;
          }
        }
      }
    }
  }
}