
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  width: 100vw;

  background-color: rgb(86, 81, 119);
  background-image: url("https://www.transparenttextures.com/patterns/hexellence.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.invisible {
  display: none;
}