
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'megaman-x', Verdana, Geneva, Tahoma, sans-serif;
}

body {
  overflow: hidden;
  height: 100vh;
  width: 100vw;

  background-color: rgb(86, 81, 119);
  background-image: url("https://www.transparenttextures.com/patterns/hexellence.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.invisible {
  display: none;
}

.container {
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
}