* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  width: 100vw;

  background-color: #005766;
  background-image: url("https://www.transparenttextures.com/patterns/hexellence.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

#overlay-controls {
  position: fixed;
  background-color: rgba(15, 15, 15, .0);
  color: white;

  /* Full width (cover the whole page) */
  padding: 1rem;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* Black background with opacity */
  /* background-color: rgba(0,0,0,0.5); */
  z-index: 2;
  /* Specify a stack order in case you're using a different order for other elements */


  .control-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: darkred;
    border-radius: 10px;
    padding: .5rem;

    .control {
      margin-right: .5rem;
      padding: .5rem;
    }

    select.control {
      padding: .5rem;
      color: white;
      background-color: darkred;
    }

    select.control option {
      padding: .5rem;
      background-color: darkred;
    }
  }
}

.invisible {
  display: none;
}